.main_box{
	width: 1200px;
	margin: 10px auto;
}
.stuff_box{
	overflow: hidden;
}
.stuff_box div{
	display: inline-block;
	width: 130px;
}
div.stuff_name{
	width: 370px;
}
div.stuff_num{
	width: 100px;
	text-align: center;
}
div.meterialUnit{
	width: 70px;
}
div.stuffmeterialPrice_num{
	width: 70px;
	text-align: center;
}
div.meterialCheck{
	text-align: center;
}
div.meterialModel{
	width: 130px;
	text-align: center;
}

div.stuff_in{
	width: 60px;
	padding-left: 300px;
	display: inline-block;
}